
@{
    ViewBag.Title = "Login";
}
@model login.Models.Loginadmin

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Admin Sign In</title>
    <link rel="stylesheet" href="../Content/esignin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e4eecd86d3.js"></script>
</head>
<body>

    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img class="img" src="../Images/travel.png">Airline reservation system</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </nav>
    </section>
    <section>
        <div class="page-wrap">
            <div class="left-panel">
                <div class="illustration">
                    <img src="../Images/employee.svg" alt="">
                </div>
            </div>
            <div class="right-panel">
                <div class="animated-form">
                    <h3>Admin sign in </h3>
                    @using (Html.BeginForm("Login", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label for="Email"><i class="fa fa-user" aria-hidden="true"></i>Username</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            <label for="Password"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group flex-end">
                            <button type="submit" class="button" name="button">Sign In</button>
                        </div>
                        

                    }
                   

                </div>
            </div>
        </div>
        </section>

</body>
</html>

