
@{
    ViewBag.Title = "Payment";
}

@model login.Models.res

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Payment</title>
    <link rel="stylesheet" href="../Content/paystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <section class="header">
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img class="img" src="~/Images/travel.png">Airline reservation system</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("homepage", "Home")"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Vols")"><i class="fa fa-plane" aria-hidden="true"></i>flight schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>about us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ticket", "Clients", new {Id_client= @Model.Clients.Id})"><i class="fas fa-receipt" aria-hidden="true"></i>Your Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a>




                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </section>
    <div class="pricemsg text-center">
        <div class="alert alert-info" role="alert">
            <h1>    Amount Payable <strong>@Model.Prix </strong> </h1>
        </div>
    </div>


    <section>
        <div class="payment">
            <div class="payment-logo">
                <p>p</p>
            </div>

            <h2>Payment Gateway</h2>
            <form class="" action="realbooking.php" method="post">
                <div class="card space icon-relative">
                    <label class="label">Choose card:</label>
                    <select required class="select" name="choose-card">
                        <option class="option" disabled selected value="">Select a card</option>
                        <option class="option" value="MasterCard">MasterCard</option>
                        <option class="option" value="Visa">Visa</option>
                        <option class="option" value="American Express">American Express</option>
                        <option class="option" value="American Express">Citibank</option>
                    </select>
                </div>
                <div class="card space icon-relative">
                    <label class="label">Card holder:</label>
                    <input type="text" class="input" required placeholder="Name on Card">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card space icon-relative">
                    <label class="label">Card number:</label>
                    <input type="text" class="input" name="card number" placeholder="Card Number" required data-mask="0000 0000 0000 0000">
                    <i class="far fa-credit-card"></i>
                </div>
                <div class="card-grp space">
                    <div class="card-item icon-relative">
                        <label class="label">Expiry date:</label>
                        <input type="text" name="expiry-data" class="input" required placeholder="00 / 00" data-mask="00 / 00">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="card-item icon-relative">
                        <label class="label">CVV:</label>
                        <input type="text" class="input" data-mask="000" pattern="[0-9]{3}" required placeholder="000">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>

                <div class="text-center">
                    <a class="nav-link btn" href="@Url.Action("effectuerPayment", "Reservation", new {prix=Model.Prix,Id_Vol=@Model.Vols.Id,Id_Client=Model.Clients.Id})"><i class="fa fa-sign-out" aria-hidden="true"></i>Submit</a>
                    
                    
                </div>
            </form>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

        </div>
    </section>
</body>
</html>